/*
#5C3317 - Dark Brown
#804720 - Brown
#F7A26C - Tangerine
#CCAF9D - Desert Sand
#E76A1A - Spanish Orange
*/

/* CSS Document */


body, header, nav, main, footer, h1, h2, div, img, ul, li{
	padding: 0;
	margin: 0;
	border: 0;
}
body {
	background-color: #CCAF9D;
	
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: #F7A26C;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}




img {
	max-width: 100%;
	display: block;
}
.imgSM{
	width: 35%;
}

.header {
	overflow: hidden;
	padding: 20px 10px;
}

.header a {
	float: left;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	border-radius: 4px;
}

header h1 {
	margin-left: 35%;
	font-weight: bold;
	font-size: 5em;
}

header h2 {
	margin-left: 45%;
	color: #11181e;
	
}



header img {
	max-width: 50%;
	margin: 0 auto;
}


main {
	width: 100%;
	min-height: 500px;
}

#container {
	padding: 5%, 0%;
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	background-color: #CCAF9D;
}

#container img{
	float: left;
	padding-right: 2%;
}


nav {
	padding: 1%;
	margin-bottom: 1%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	text-align: center;
}



nav li a  {
	display: block;
	
	padding: .5em 1em;
	text-decoration: none;
}

h1{
	
}

h2{
	
}
#container {
	min-height: 500px;
	width: 80%;
}
blockQuote{
	
}

.fnav{
	clear: both;
}
footer {
	clear: both;
}
footer h4, footer h5, footer h6 {
	text-align: center;
}

form {
	
}